ADMIN_EMAIL="Admin mail"
GMAIL_APP_PASSWORD="Gmail app password"
GMAIL_USER="enter your gmail"
MONGO_URL="Mongodb url"
PORT="port"
RAZORPAY_KEY_ID="Rozarpay id"
RAZORPAY_KEY_SECRET="Secret of rozarpay"
