<!-- views/newpassword.ejs -->
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Reset Password</title>
  <style>
     body {
      font-family: Arial, sans-serif;
      background-color: #f4f4f4;
      display: flex;
      height: 100vh;
      justify-content: center;
      align-items: center;
    }
    form {
      background: #000000;
      padding: 30px;
      border-radius: 8px;
      box-shadow: 0 0 10px rgba(0,0,0,0.1);
      width: 400px;
      height: auto;
    }
    h2{
      color: white;
    }
    input {
      display: block;
      width: 100%;
      padding: 10px;
      margin-top: 10px;
      border-radius: 4px;
      border: 1px solid #ccc;
    }
    button {
      margin-top: 20px;
      padding: 10px;
      background-color: #4CAF50;
      color: white;
      border: none;
      width: 100%;
      border-radius: 4px;
      cursor: pointer;
    }
    .error {
      color: red;
      margin-top: 10px;
    }
    .hide {
        opacity: 0;
        visibility: hidden;
    }
  </style>
</head>
<body style="background:url('/images/bg/flower.jpg');background-position: center; background-size: cover; background-repeat: no-repeat;
    height: 100vh;">
  <form id="resetForm" method="POST" action="/reset-password">
   <div class="error" id="error">
        <% if (errorMessage) { %><%= errorMessage %><% } %>
    </div>
    <h2>Reset Password</h2>
    <input type="password" name="newPassword" id="newPassword" placeholder="New Password" required />
    <input type="password" name="confirmPassword" id="confirmPassword" placeholder="Confirm Password" required />    
    <button type="submit">Reset Password</button>
  </form>

  <script>
    const form = document.getElementById('resetForm');
    const errorMessage = document.getElementById('errorMessage');

    form.addEventListener('submit', function (e) {
      const pass = document.getElementById('newPassword').value;
      const confirm = document.getElementById('confirmPassword').value;

      if (pass.length < 8 || pass.length > 16) {
        e.preventDefault();
        errorMessage.textContent = 'Password between 8 to 16 characters';
      } else if (pass !== confirm) {
        e.preventDefault();
        errorMessage.textContent = 'Passwords do not match';
      }
    });
  </script>
  <script>
        setTimeout(() => {
          const errorMsg = document.getElementById('error');
          if (errorMsg) {
            errorMsg.classList.add('hide');
          }
        }, 5000);
      </script>
</body>
</html>
